@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(90deg,rgb(77, 13, 13,1) 0%, rgba(65,10,10,1)100%);
}
body h2 {
    color: white;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spnQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}